@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

/* color:#C22303 color: #D9DCE1*/

body {
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color: #D9DCE1;
    background-color: #2F4858;
}

/* Header & Logo */

h1, h2 {
    color:#C22303;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 15px;
}

#title {
    float: left;
    font-size: 250%;
}

#menu {
    font-size: 120%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
} 

#menu a {
    text-decoration: none;
    color: #D9DCE1
}

#menu, #title {
    line-height: 60px;
}

#menu a:hover {
    border-bottom: 1px solid #C22303;
    color: #C22303
}

#title:hover {
    color: #D9DCE1;
}

.active {
    border-bottom: 1px solid #C22303;
}

/* Main image Section */

#main-image {
    background: url(../images/nikita-tikhomirov-bxT82IUY_H8-unsplash.jpg) no-repeat center center;
    height: 600px;
    width: 100%;

    animation-name: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#outer-main-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

@keyframes main-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* About us section*/

#about-us {
    height: 480px;
}

#about-us-left {
    padding-top: 20px;
    width: 40%;
    float: left;
}

.about-us-left-heading {
    float: right;
    line-height: 25px;
    width: 50%;
    clear: both;
    padding-bottom: 40px;
}

#about-us-right {
    padding-top: 20px;
    width: 40%;
    float: right;
}

.about-us-right-heading {
    float: left;
    line-height: 25px;
    width: 50%;
    clear: both;
    padding-bottom: 40px;
}

#about-us-center {
    padding-top: 20px;
    margin: 0 auto;
    width: 20%;
}

hr {
    padding: 20px 0 12px 0;
}

#about-us h2 {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #C22303;
}

#about-us h1 {
    text-align: center;
    font-size: 200%;
    padding-top:60px;
}

/* Times Section */

#times {
    background: url(../images/pexels-chris-f-1283219.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    position: relative;
}

#times-cover h2 {
    font-size: 200%;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #C22303;
}

#times-cover {
    width: 370px;
    height: 370px;
    background-color: rgba(0, 0, 0, .8);
    padding: 40px 0 0 0;
    position: absolute;
    bottom: 100px;
    right: 100px;

}

#times-cover p {
    text-align: center;
    padding: 40px 50px 10px 50px;

    font-size: 120%;
}

/* Link to sign up on cover */

#sign-up-link {
    font-family: Merriweather, sans-serif;
    border-radius: 2px;
    text-align: center;
    font-size: 100%;
    padding: 15px 30px 15px 30px;
    margin-top: 30px;
    background-color: #C22303;
    color: #D9DCE1;
    display: block;
    text-decoration: none;
}

#sign-up-link:hover {
    background-color: #D9DCE1;
    color: #C22303;
}

/* Footer */

.socials {
    text-align: center;
}

footer {
    height: 180px;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 180%;
    margin: 1%;
    padding: 6%;
    color: #D9DCE1;
}

.socials i:hover {
    color: #C22303;
}

/* Recipe Title & Images */

#recipes-title h1 {
    text-align: center;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    padding-top: 12px;
    font-size: 200%;
    color: #D9DCE1;
    padding: 18px 0 0 0;
}

#espresso-martini {
    overflow: hidden;
    height: 550px;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#recipes-img {
    background: url(../images/anima-visual-qEnbyjYSDtU-unsplash.jpg) no-repeat;
    height: 550px;
    width: 40%;
    margin: 0; 
    padding: 0;
    border: none;
    display: inline-block;
    float: left;
}

#recipe-martini {
    height: 550px;
    width: 60%;
    overflow: hidden;
    float: left;
}

#recipe-martini h1 {
    text-align: center;
    font-size: 280%;
    padding-top: 30px;
}

#recipe-cosmopolitan h1 {
    text-align: center;
    font-size: 280%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#cosmopolitan {
    overflow: hidden;
    height: 550px;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#recipes-img-2 {
    background: url(../images/ari-agustian-m0vjCa_XwqI-unsplash.jpg) no-repeat center;
    height: 550px;
    width: 40%;
    margin: 0; 
    padding: 0;
    border: none;
    display: inline-block;
    float: right;
}

#recipe-cosmopolitan {
    height: 550px;
    width: 60%;
    overflow: hidden;
    float: left;
}

#espresso-martini li {
    padding: 5px 0 5px 0;
    font-size: 160%;
}

#cosmopolitan li {
    padding: 5px 0 5px 0;
    font-size: 160%;
}

#espresso-martini p {
    padding: 5px 0 5px 0;
    font-size: 160%;
}

#cosmopolitan p {
    padding: 5px 0 5px 0;
    font-size: 160%;
}

/* Media Queries */

/* Large to medium screens 1200px and down */

@media screen and (max-width: 1200px) {
    #about-us {
        height: 700px;
        width: 100%;
        margin: 0 auto;
    }

    #espresso-martini, #cosmopolitan {
        height: 550px;
        font-size: 75%;
    }

    #espresso-martini li, #cosmopolitan li {
        padding-left: 15px;
    }

    #espresso-martini p, #cosmopolitan p {
        padding-left: 15px;
    }

    hr {
        display: none;
    }
}

/* Medium to small screens 950px and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;

    }

    #about-us {
        height: 700px;
        width: 100%;
        margin: 0 auto;
    }

    #espresso-martini, #cosmopolitan {
        height: 550px;
        font-size: 50%;
    }

    #espresso-martini li, #cosmopolitan li {
        padding-left: 15px;
    }

    #espresso-martini p, #cosmopolitan p {
        padding-left: 15px;
    }

    hr {
        display: none;
    }

    #recipes-title h1 {
        font-size: 140%;
    }

    #times-cover {
        left: 0;
    }

    #about-us {
        height: 1100px;
        margin: 0 auto;
    }

    #about-us-left {
        width: 90%;
        height: 400px;
        margin: 0 auto;
    }

    #about-us-right {
        width: 90%;
        height: 400px;
        margin: 0 auto;
    }

}

/* Sign Up Page */

    .sign-up-section {
        clear: left;
        background: url(../images/hathaipat-k-jS0CD0_Xwnw-unsplash.jpg);
        height: 900px;
        background-size: cover;
        background-position: center;
    }

    .sign-up-form {
        margin: 150px 10% 0 0;
        color: #D9DCE1;
        position: absolute;
        max-width: 350px;
        background-color: rgba(0, 0, 0, .4);
        left: 5%;
        padding: 20px;

    }
    





